@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  transition: background-color 0.3s, color 0.3s;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9fafb;
}

.dark body {
  background-color: #111827;
}